@include adaptive(xs){
    .form{
        
        &__submit{
            width: 50%;
            
            &_subscribe{
                width: 100%;
                height: auto;
                padding: 15px;
                font-size: 14px;
            }
        }
        
        &__input {

            &_subscribe{
                width: 100%;
                height: auto;
                padding: 15px;
            }
        }
    }
}